* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar-bg {
  height: 100vh;
  overflow-y: scroll;
}
*::-webkit-scrollbar {
  background: linear-gradient(0deg, #33069c, #2b0488);
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #33069c, #2b0488);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(235, 17, 137, 0.685);
  color: white;
  border-radius: 10px;
}

.sidebar-bg {
  background: linear-gradient(90deg, #33069c, #2b0488) !important;
  color: white;
  padding: 5px;
}

.content-bg {
  --content-bg-gradient: linear-gradient(
    90deg,
    rgba(51, 6, 156, 0.9),
    rgb(43, 4, 136, 0.9)
  );
  color: white;
  height: 100%;
  padding: 24px 16px 0;
  background: var(--content-bg-gradient);
  background-size: 300%;
  background-position: left;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.gradient-button {
  padding: 10px 25px;
  border-radius: 4px;
  background: linear-gradient(
    45deg,
    rgb(11, 32, 221),
    rgb(192, 10, 122),
    rgb(11, 32, 221)
  );
  font-size: small;
  background-size: 200%;
  background-position: left;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-position 0.8s ease;
}

.gradient-button {
  background-position: right;
}

.input {
  width: 85%;
  font-size: 1rem;
  padding: 10px 6px;
  border-radius: 6px;
  border: 1px solid gray;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #4e4e4e;
  font-size: small;
  letter-spacing: 1px;
}

.input:focus {
  outline: none;
  border-color: black;
}

/*  Utility Classes styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
